@use '/src/styles/mixins/buttons.scss' as buttons;

.host {
  @include buttons.button-default((
    'set-color': true,
    'set-site': true,
  ));
  @include buttons.button-light-colors;
  @include buttons.button-small;
  position: relative;
}

.counter {
  background: red;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  min-width: 1.5em;
  height: 1.5em;
  padding: 2px;
  color: white;
  border-radius: 50%;
}
