.host {
  position: relative;
}

.imageWrap {
  padding-top: 100%;
  position: relative;
  display: block;
  background: lightgrey;
}

.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.row {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: red;
}

.link {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
}

.addToCart {
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
}
