@use '/src/styles/mixins/buttons.scss' as buttons;

.host {
  padding: 24px 0;
}

.button {
  @include buttons.button-icon;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.item {
  flex: 0 0 auto;
}

.current {
  font-weight: bold;
  display: block;
  padding: 0 24px;
}
