@use '/src/styles/mixins/layout.scss' as layout;

.host {
  background: black;
  color: white;
  padding: 12px 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 20;
}

.container {
  @include layout.container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.title {
  margin: 0;
}

.homeLink {
  color: white;
  text-decoration: none;
}
