@use '/src/styles/mixins/layout.scss' as layout;

.host {
  background: black;
  color: white;
  padding: 12px 0;
}

.container {
  @include layout.container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.title {
  margin: 0;
}
