@use 'sass:map' as map;
@use '/src/styles/variables.scss' as variables;

@mixin button-base {
  border: none;
  padding: 0;
  cursor: pointer;
  transition: variables.$transition;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }
}

@mixin button-default-shape {
  padding: 16px 24px;
  border-radius: 4px;
}

@mixin button-default-typography {
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

@mixin button-default-size {
  min-width: 200px;
  max-width: 100%;
}

@mixin button-size-block {
  width: 100%;
}

@mixin button-small-size {
  font-size: 14px;
}

@mixin button-small-shape {
  padding: 4px 8px;
  border-radius: 2px;
  min-width: 80px;
}

@mixin button-default-colors {
  background: black;
  color: white;
}

@mixin button-success-colors {
  background: map.get(variables.$colors, 'success');
  color: white;
}

@mixin button-danger-colors {
  background: map.get(variables.$colors, 'danger');
  color: white;
}

@mixin button-light-colors {
  background: white;
  color: black;
}

@mixin button-default($options: ()) {
  @include button-base;
  @include button-default-typography;
  @include button-default-size;

  @if map.get($options, 'set-color') != true {
    @include button-default-colors;
  }

  @if map.get($options, 'set-size') != true {
    @include button-default-size;
    @include button-default-shape;
  }
}

@mixin button-icon {
  @include button-base;
  @include button-default-typography;
  @include button-default-colors;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  width: 32px;
  height: 32px;
}

@mixin button-small {
  @include button-small-size;
  @include button-small-shape;
}
